<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shiv</title>
  </head>
  <body>
    <h1>Shiv Skill</h1>
    <ul>
      {% for skill in skill_list %}
      <li>Skill: {{ skill.title }}</li>
      {% endfor %}
      <hr />
      
    </ul>

    <button><a href="{% url 'show_info' %}">Show Info </a>sky</button>
    {% comment %} {% for skill in skill_list %} <br />
    {{skill.title}} {% endfor %} {% endcomment %}
  </body>
</html>
